<div ng-controller="MainCtrl">
    <article class="col-md-6">
        <form class="column ng-pristine ng-valid ng-valid-url" id="requestForm">
            <div class="col-md-6 column full-width">
                <section class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Request Settings</h2>
                    </div>
                    <div class="form-horizontal panel-body">
                        <div class="form-group">
                            <label for="requestUrl" class="col-md-1 control-label">URL:</label>
                            <div class="col-md-11">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="url" ng-model="requestUrl" class="form-control" placeholder="http://www.example.com/resource/123" autofocus>
                                            <div class="input-group-btn" title="Select the request method to use" uib-dropdown auto-close="outsideClick" is-open="requestMethod.isopen">
                                                <button id="requestMethodButton" type="button" class="btn btn-primary" uib-dropdown-toggle>{{requestMethod.selected}}&nbsp;&nbsp;<span class="caret"></span></button>
                                                <ul uib-dropdown-menu class="dropdown-menu-right">
                                                    <li ng-repeat="type in requestMethod.methods">
                                                        <a href="" ng-click="changeRequestMethod(type)" ng-hide="requestMethod.selected === type">{{type}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="payload" class="col-md-1 control-label">Payload:</label>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea rows="{{payloadHeight || 2}}" class="form-control" id="payload" placeholder="application/json" ng-model="payload" ng-click="payloadHeight = 5" ng-blur="payloadHeight = 2"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-controller="HeadersCtrl">
                            <div class="hidden">
                                <div class="httpparameter">
                                    <span remove-on-click class="glyphicon glyphicon-remove close"></span>
                                    <div class="row show-grid">
                                        <div class="col-md-5">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control input-sm fakeinputname" value="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control input-sm realinputvalue" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="allheaders" style="display: none;">
                                <div class="row show-grid">
                                    <div class="col-md-5">
                                        <div class="control-group">
                                            <label class="control-label">Header Name</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="control-group">
                                            <label class="control-label">Header Value</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div align="left">
                                <button id="addheaderbutton" class="btn btn-primary btn-xs" ng-click="showHeaders();">
								<span class="glyphicon glyphicon-plus"></span> Add header
							</button>
                            </div>

                            <div id="allparameters" style="display: none;">

                                <div class="row show-grid">
                                    <div class="col-md-5">
                                        <div class="control-group">
                                            <label class="control-label">Parameter Name</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="control-group">
                                            <label class="control-label">Parameter Value</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div align="left" style="margin-top:10px;">
                                <button id="addprambutton" class="btn btn-primary btn-xs" ng-click="showParameters();">
								<i class="glyphicon glyphicon-plus"></i> Add parameter
							</button>
                            </div>
                            <div id="request-form-buttons" class="pull-right">
                                <button type="button" class="btn btn-default" ng-click="cancel();" ng-show="processing" title="Cancel the current request">Cancel</button>
                                <button type="submit" class="btn btn-success" id="submitFormButton" ng-click="submit();" ng-disabled="processing || !requestUrl" analytics-on>Send Request</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </article>
    <div id="response" class="row clearfix" ng-show="displayResponse" ng-cloak>
        <div id="responseBody" class="col-md-6 column">
            <section class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">Response</h2>
                </div>
                <div class="panel-body">
                    <div class="well small">
                        <strong>Request URL:</strong> <a href="{{response.requestUrl}}" target="_blank">{{response.requestUrl}}</a><br>
                        <strong>Request Method:</strong> {{response.requestMethod}}<br>
                        <strong>Service Response Time:</strong> {{(timerEnd - timerStart) / 1000}} seconds
                    </div>
                    <uib-tabset class="json-tabs">
                        <uib-tab heading="Response Body">
                            <div class="json-content" ng-if="!response.valid">
                                <uib-alert type="danger">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span>There was a error in the response. This is often due to a mis-configured service.</span>
                                </uib-alert>
                            </div>
                            <ng-switch on="!!response.body" ng-show="response.valid">
                                <div ng-switch-when="true" hljs source="response.body" class="json-content"></div>
                                <div ng-switch-default class="json-content"><pre>(No Response Data)</pre></div>
                            </ng-switch>
                        </uib-tab>
                        <uib-tab heading="Response Body (RAW)">
                            <div class="json-content"><pre>{{response.body}}</pre></div>
                        </uib-tab>
                        <uib-tab heading="Response Headers">
                            <div hljs source="response.headers" class="json-content"></div>
                        </uib-tab>
                        <uib-tab heading="Request Details">
                            <div hljs source="response.requestHeaders" class="json-content"></div>
                        </uib-tab>
                    </uib-tabset>
                    <div id="copy-buttons">
                        <button type="button" class="btn btn-primary" ng-click="copy(response.requestUrl);" title="Copy Request URL">
							<span class="glyphicon glyphicon-copy" aria-hidden="true"></span> Copy Request
						</button>
                        <button type="button" class="btn btn-primary" ng-click="copy(response.body);" ng-disabled="!response.body" title="Copy Response Body">
							<span class="glyphicon glyphicon-copy" aria-hidden="true"></span> Copy Response
						</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>