/*.panel {
    border-radius: 0px;
}

.panel-heading {
    text-align: center;
}

.req-typ-btn {
    border-radius: 0px;
}

#request-url-wrapper {
    margin-right: -350px;
    width: 100%;
    float: left;
}

#request-url-container {
    margin-right: 350px;
}

#url {
    border-top: none;
    background-color: #ffffff;
    transition: border linear .2s, box-shadow linear .2s;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
}

.input-text-light {
    border-radius: 0;
    min-height: 18px;
    width: 100% !important;
    padding: 5px;
    padding-left: 0px;
    color: #333 !important;
    border: none !important;
    border-bottom: solid thin #ccc !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    outline: none !important;
}

#request-modifiers {
    float: right;
}

#request-method-container {
    float: left;
    margin-right: 10px;
}

#request-method-selector {
    width: 100px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

#request-method-selector {
    height: 30px;
}

#request-modifiers,#request-url-buttons-container{
    display: inline-block;
}

#request-detail-modifier{
    margin-top: 20px;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn{
    border-radius: 0;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    font-size: 13px;
    padding: 5px 12px;
    
}*/

.full-width {
    width: 100%;
}

.hidden {
    display: none;
    visibility: hidden;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

.httpparameter {
    margin: 10px;
}

.brand {
    text-align: center;
    margin-top: 20px;
}